body {
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

#history, #bookmarks {
  padding: 0 10px;
}

#history li, #bookmarks li {
  background: url('images/file.png') no-repeat 0 2px;
  padding-left: 20px;
  padding-top: 2px;
}

.folder {
  background-image: url('images/folder.png') !important;
}

#website input {
  width: calc(100% - 30px);
	padding: 3px;
}

#website input + input {
  width: 30px;
}

iframe {
  border: 0;
	width: 100%;
	height: calc(100vh - 95px);
}

.footer {
  color: #aaa;
  font-size: 80%;
  text-align: center;
}